<%- include('../layouts/admin/header.ejs') -%>

<div class="page-wrapper">
	


        <div class="container-fluid" style="padding: 10%;"style="z-index: 222;">

            <div class="thanks-note justify-content-center " id="thanksNote" >

                <div class=" text-center p-5 ">

                    <h1>Payment Failed</h1>
                    <p>We're sorry, but your payment was not successful.</p>
                    <p>Please check your payment details and try again, or contact your bank for assistance.</p><br>
                    <a href="/orders" class="btn btn-outline-info rounded-pill ">Show OrderDetails</a>&nbsp;
                    <a href="/checkout" class="btn btn-outline-danger rounded-pill">Try Again</a>
                </div>

            </div>

          </div>


     
</div><!-- End .page-wrapper -->

  
		
  
   

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <script src="https://kit.fontawesome.com/fbf4adc7c4.js" crossorigin="anonymous"></script>

<!-- 
<%- include('../layouts/admin/footer') -%> 
